
<div  class="container" style="margin-top: 10px ;border-radius: 30px;background-color: rgba(0, 139, 139, 0.384); padding:25px;width:600px;" >
<h3 class=" text-warning" style="width: rem;">Mis Productos</h3>
<div class="card" style="width:400px;margin-bottom: 10px;background-color: rgba(188, 211, 211, 0.849);border-radius: 20px;" *ngFor="let producto of productos">
  <div class="card-body">
    <h5 class="card-subtitle mb-2 text-muted">Producto: {{producto.Producto}}</h5>
    <p class="card-text text-light">{{producto.Descripcion}}</p>
    <a href="#" class="card-link"></a>
    <form class="d-flex">
        <button class="btn btn-success" [routerLink]="['/updateProducto', producto.id ,producto.Producto ,producto.Descripcion]">Editar</button>
        <button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteProducto(producto.id)"><img class="img" src="assets/basura.png" alt="eliminar"></button>
    </form>
  </div>
</div>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>