<div class="container" *ngIf="productos as producto">
    <form [formGroup]="productoForm" (ngSubmit)="updateForm(productoForm.value)">
      <h1 class="h3 mb-3 font-weight-normal">Editar Producto</h1>
      <div hidden>
        <label for="inputId">Id</label>
        <input type="text" class="form-control" id="inputId" formControlName="idProducto" />    
      </div>
      <div>
        <label for="inputProducto">Nombre</label>
        <input type="text" class="form-control" id="inputProducto" value="producto.Producto" formControlName="Producto" />  
      </div>
      <div>
        <label for="inputDescripcion">Descripción</label>
        <input type="text" class="form-control" id="inputDescripcion" value="producto.Descripcion" formControlName="Descripcion" />
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block mb-2"> Guardar </button>
    </form>
  </div>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>