<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
        <h1 class="text-light">Escuadron Z</h1>
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="hiden == 1">
          <li class="nav-item">
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/nuevoProducto" routerLinkActive="active">Añadir Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/misComentarios" routerLinkActive="active">Mis Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/misProductos" routerLinkActive="active">Mis Productos</a>
          </li>
        </ul>
        <form class="d-flex" *ngIf="hiden == 1">
          <button class="btn btn-success" (click)="logOut()"><img class="img2" src="assets/exit2.png"/></button>
        </form>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>